<div class="box">
  <h2>Update Student Info for <%= $redis.hget("student:#{@id}", "name") %></h2>

  <ul class="update-student">
    <form method="post" action="/edit_students/<%= @id %>">

      <li><label><p>Grade:</p>
        <input type="text" name="grade" value="<%= $redis.hget("student:#{@id}", "grade") %>">
      </label></li>

      <li><label><p>Parent:</p>
        <input type="text" name="parent" value="<%= $redis.hget("student:#{@id}", "parent") %>">
      </label></li>

      <li><label><p>Parent Contact:</p>
        <input type="text" name="contact" value="<%= $redis.hget("student:#{@id}", "contact") %>">
      </label></li>
      <li><input class="submit" type="submit" name="Update"></li>
    </form>
  </ul>
</div>
